<html>
	  <head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>
				 {SITE_NAME} | Admin Control Panel
			</title>
			<link rel='stylesheet' href='{LINK}/view/default/styles/acp.css' type='text/css' />
			<script>
				var LINK = '{LINK}';
				var VIEW = LINK + '/view/wysiwyg';
			</script>
			<script src='{LINK}/view/default/scripts/js.js'></script>
			<script src='{LINK}/view/default/scripts/wysiwyg.js'></script>
	  </head>
	  <body style="background: url('{LINK}/view/default/images/bg.png') repeat-x;">
			<center>
				  <div id='header'>
						{header}
				  </div>
				  <img src='{LINK}/view/default/images/headline.png' />
				  <div id='info'>
						{info}
				  </div>
				  <img src='{LINK}/view/default/images/headline.png' />
				  <div id='content'>
				  		{content}
				  </div>
			</center>
						
